/*---Modern Normalizer---*/
@import 'normalize.css';

/*---Variables---*/
:root {
  --clr-background: #fff;
  --clr-background-darker: #f5f4fa;
  --clr-light: #ececec;
  --clr-dark: #2f303a;
  --clr-blue: #2196f3;
  --clr-font: #212121;
  --clr-font-lght: #757575;

  --ff-main: 'Roboto', sans-serif;
  --ff-logo: 'Raleway', sans-serif;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bld: 700;
  --fw-blck: 900;
}
/*---Icons---*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: var(--clr-blue);
  fill: var(--clr-blue);
}
.icon-instagram {
  width: 44px;
  height: 44px;
  background-position: 0 0;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-linkedin {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-envelope {
  width: 43px;
  height: 32px;
  background-position: -192px 0;
}
.icon-smartphone {
  width: 20px;
  height: 32px;
  background-position: -288px 0;
}
.icon-company-1 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-company-2 {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-company-3 {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-company-4 {
  width: 33px;
  height: 32px;
  background-position: -480px 0;
}
.icon-company-5 {
  width: 35px;
  height: 32px;
  background-position: -528px 0;
}
.icon-company-6 {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-antenna-1 {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-clock-1 {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.icon-diagram-1 {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.icon-astronaut-1 {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}

/*---Body default values (fonts, colots etc.)---*/

body {
  margin: 0;
  padding: 0;

  color: var(--clr-font);
  font-family: var(--ff-main);
  font-weight: var(--fw-reg);
  font-size: 14px;

  background-color: var(--clr-background);
}

/*---Navbar and it's elements---*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 88px;

  border-bottom: 1px solid #ececec;

  user-select: none;
}

/*---Navbar log---*/

.logo {
  font-family: var(--ff-logo);
  font-weight: var(--fw-bld);
  font-size: 26px;
  letter-spacing: 0.72px;
}
.logo > a {
  color: #000;
  text-decoration: none;
}
.logo > a > span {
  color: var(--clr-blue);
}
.logo > span {
  color: var(--clr-blue);
}

/*---Navbar buttons---*/

.nav-buttons {
  max-width: 17.5rem;
  margin-left: 2.938rem;

  list-style: none;
}
.nav-button {
  margin-right: 0.8rem;

  display: inline-block;
}
.nav-button > a {
  font-weight: var(--fw-med);
  color: var(--clr-font);
  text-decoration: none;
}
.nav-button > a:hover {
  color: var(--clr-blue);
}
#active-nav {
  color: var(--clr-blue);
}

/*---Navbar contact anchors---*/
.nav-contacts {
  justify-content: flex-end;
}

.nav-contacts > a {
  margin-right: 3.125rem;

  font-weight: var(--fw-med);
  color: var(--clr-font);
  text-decoration: none;
}
.nav-contacts > a:hover {
  color: var(--clr-blue);
}
.nav-mail::before {
  content: url(/images/icons.svg#icon-envelope);
}
.nav-phone::before {
  content: url(/images/icons.svg#icon-smartphone);
}

/*---Header section---*/

.header-mainpage {
  color: var(--clr-background);
  font-weight: var(--fw-blck);
  text-align: center;
  letter-spacing: 2.64px;

  background-image: url('.../images/header-img.jpg');
}
.overlay-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  background-color: #2f303a66;
}
.overlay-header > h1 {
  margin-top: 12.5rem;

  display: inline-block;
  width: 40rem;

  font-size: 44px;
  line-height: 3.75rem;
  text-align: center;
}

.call-to-action {
  padding: 10px 41px 10px 42px;
  margin-bottom: 12.5rem;

  color: var(--clr-background);
  font-family: var(--ff-main);
  font-weight: var(--fw-bld);
  font-size: 16px;
  line-height: 2.143rem;

  background-color: var(--clr-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*---Feature section---*/

.feature {
  margin-block: 5.875rem;
}
.feature > ul {
  display: flex;
  justify-content: center;
  column-gap: 2.143rem;

  list-style: none;
}
.feature-img {
  margin-bottom: 2.143rem;

  background-color: var(--clr-background-darker);

  border-radius: 4px;
}
.feature-text {
  width: 16.875rem;
}
.feature-text > h3 {
  font-size: 14px;
  font-weight: var(--fw-bld);
}
.feature-text > p {
  color: var(--clr-font-lght);
  line-height: 1.5rem;
  letter-spacing: 0.42px;
}

/*---What do we do section---*/
.what-do-we-do {
  margin-bottom: 5.25em;
  text-align: center;
}

.what-do-we-do > h2 {
  margin-bottom: 3.125rem;

  font-size: 36px;
  font-weight: var(--fw-bld);
}
.what-do-we-do-photos > ul > li > img {
  margin-right: 2.143rem;
}
.what-do-we-do-photos > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
/*---Our team section---*/

.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  background-color: var(--clr-background-darker);
}
.our-team * {
  padding: 0;
}
.our-team > h2 {
  margin-block: 5.875rem 3.125rem;
  font-size: 36px;
  font-weight: var(--fw-bld);
}

.team-members > ul {
  display: flex;
  column-gap: 2.143rem;

  list-style: none;
}
.team-member {
  margin-bottom: 5.875rem;

  background-color: var(--clr-background);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team-member > h3 {
  font-size: 16px;
  font-weight: var(--fw-med);
}
.team-member > p {
  padding-bottom: 1rem;

  color: var(--clr-font-lght);
  font-size: 16px;
}
.team-member > ul {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  list-style: none;
}
.team-member > ul > li {
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 2.143rem;

  border-radius: 50%;
}
.team-member > ul > li:hover {
  background-color: var(--clr-blue);
}
/*---Our Clients---*/
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.143rem;

  list-style: none;
}
.our-clients > h2 {
  margin-top: 5.875rem;

  text-align: center;
  font-size: 36px;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  font-weight: var(--fw-bld);
}
.client {
  margin-bottom: 5.875rem;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client > svg {
  margin: 1.107rem 2rem 0.891rem;
}
.client:hover {
  border-color: var(--clr-blue);
}
/*---Footer---*/

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4.375rem;
  align-items: flex-start;

  color: var(--clr-background);

  background-color: var(--clr-dark);
}
.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-footer > * {
  margin-left: 215px;
}
.contact-footer > .logo {
  margin-block: 3.75rem 1.25rem;

  user-select: none;
}
.footer-adress {
  margin-bottom: 0.563rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
}
.footer-mail {
  margin-bottom: 0.563rem;

  color: var(--clr-background);
  line-height: 1.5rem;
  letter-spacing: 0.72px;
  text-decoration: none;

  opacity: 0.6;
}
.footer-phone {
  margin-bottom: 3.75rem;

  color: var(--clr-background);
  line-height: 1.5rem;
  letter-spacing: 0.72px;
  text-decoration: none;

  opacity: 0.6;
}
.footer-mail:hover,
.footer-phone:hover {
  color: var(--clr-blue);
  opacity: 1;
}

.join-us {
  align-self: center;
  justify-content: space-between;
  text-align: left;
  display: flex;
  flex-wrap: wrap;

  max-width: 206px;
}
.join-us > h3 {
  width: 206px;

  font-weight: var(--fw-bld);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social {
  width: 2.75rem;
  height: 2.75rem;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-background);

  border-radius: 50%;
  opacity: 0.1;
}
.footer-social:hover {
  background-color: var(--clr-blue);

  opacity: 1;
}
/*----------------------
----STRONA PORTFOLIO----
----------------------*/

.portfolio {
  margin: 5.875rem 13.438rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*---Filters bar---*/

.filters {
  display: inline-flex;

  list-style: none;
}

.filter > button {
  padding: 0.375rem 1.375rem;
  margin-right: 0.5rem;

  color: var(--clr-font);
  font-family: var(--ff-main);
  font-weight: var(--fw-med);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.625rem;

  border-radius: 4px;
  border: none;
  background-color: var(--clr-background-darker);

  cursor: pointer;
  user-select: none;
}
.filter > button:hover {
  color: var(--clr-background);

  background-color: var(--clr-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*---Projects group---*/
.projects {
  margin-top: 2.125rem;
}
.projects > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.143rem;

  list-style: none;
}
.project {
  box-sizing: border-box;

  border: 1px solid #eeeeee;

  transition: 0.5s;
  cursor: pointer;
}
.project > img {
  user-select: none;
}
.project > h3 {
  margin: 1.25rem 1.5rem 0.25rem 1.5rem;

  font-weight: var(--fw-bld);
  font-size: 18px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
}
.project > p {
  margin: 0 1.5rem 1.25rem 1.5rem;

  color: var(--clr-font-lght);
  font-weight: 400;
  font-size: 16px;
  line-height: 2.143rem;
  letter-spacing: 0.03em;
}
.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: 0.5s;
}
