/*---Modern Normalizer---*/
@import 'normalize.css';

/*---Variables---*/

:root {
  --clr-background: #fff;
  --clr-background-darker: #f5f4fa;
  --clr-light: #ececec;
  --clr-dark: #2f303a;
  --clr-blue: #2196f3;
  --clr-font: #212121;
  --clr-font-lght: #757575;
  --clr-gray-element: #afb1b8;

  --ff-main: 'Roboto', sans-serif;
  --ff-logo: 'Raleway', sans-serif;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bld: 700;
  --fw-blck: 900;
}

/*---------------------*/
/*-------UTILITY-------*/
/*---------------------*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------*/
/*-------ICONS-------*/
/*-------------------*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
}

.icon-antenna-1 {
  width: 4.375rem;
  height: 4.375rem;
  background-position: 0 0;
}
.icon-clock-1 {
  width: 4.375rem;
  height: 4.375rem;
  background-position: -96px 0;
}
.icon-diagram-1 {
  width: 4.375rem;
  height: 4.375rem;
  background-position: -432px 0;
}
.icon-astronaut-1 {
  width: 4.375rem;
  height: 4.375rem;
  background-position: -48px 0;
}

.icon-company-1 {
  width: 4rem;
  height: 4rem;
  background-position: -144px 0;
}
.icon-company-2 {
  width: 4.5rem;
  height: 4.5rem;
  background-position: -192px 0;
}
.icon-company-3 {
  width: 5rem;
  height: 5rem;
  background-position: -240px 0;
}
.icon-company-4 {
  width: 5.5rem;
  height: 5.5rem;
  background-position: -288px 0;
}
.icon-company-5 {
  width: 5rem;
  height: 5rem;
  background-position: -336px 0;
}
.icon-company-6 {
  width: 6.5rem;
  height: 6.5rem;
  background-position: -384px 0;
}

.icon-instagram {
  width: 1.25rem;
  height: 1.25rem;
  background-position: -624px 0;
}
.icon-twitter {
  width: 1.25rem;
  height: 1.25rem;
  background-position: 0 -48px;
}
.icon-facebook {
  width: 1.25rem;
  height: 1.25rem;
  background-position: -576px 0;
}
.icon-linkedin {
  width: 1.25rem;
  height: 1.25rem;
  background-position: -672px 0;
}

.icon-envelope {
  width: 1.332em;
  height: 1.332em;
  vertical-align: bottom;

  background-position: -480px 0;
}

.icon-smartphone {
  width: 1.321em;
  height: 1.321em;
  vertical-align: bottom;
  background-position: -720px 0;
}

/*-----------------------------*/
/*----Body default values------*/
/*----(fonts, colots etc.)-----*/
/*-----------------------------*/

body {
  margin: 0;
  padding: 0;

  color: var(--clr-font);
  font-family: var(--ff-main);
  font-weight: var(--fw-reg);
  font-size: 14px;

  background-color: var(--clr-background);
}

/*---------------------*/
/*-------NAVBAR--------*/
/*--------------------*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 88px;

  border-bottom: 1px solid #ececec;

  user-select: none;
}

/*--------------------*/

.logo {
  font-family: var(--ff-logo);
  font-weight: var(--fw-bld);
  font-size: 26px;
  letter-spacing: 0.72px;
}
.logo > a {
  color: #000;
  text-decoration: none;
}
.logo > a > span {
  color: var(--clr-blue);
}
.logo > span {
  color: var(--clr-blue);
}

/*--------------------*/

.nav-buttons {
  max-width: 17.5rem;
  margin-left: 2.938rem;

  list-style: none;
}
.nav-button {
  margin-right: 0.8rem;

  display: inline-block;
}
.nav-button > a {
  font-weight: var(--fw-med);
  color: var(--clr-font);
  text-decoration: none;
  transition: 275ms;
}
.nav-button > a:hover,
.nav-button > a:focus {
  color: var(--clr-blue);
  transform: scale(1.1);
  transition: 275ms;
}
#active-nav {
  color: var(--clr-blue);
}

/*--------------------*/

.nav-contacts {
  justify-content: flex-end;
}

.nav-email,
.nav-phone {
  margin-right: 3.125rem;

  font-weight: var(--fw-med);
  color: var(--clr-font);
  text-decoration: none;
  transition: 775ms;
}
.nav-email > svg,
.nav-phone > svg {
  margin-right: 0.625em;
}
.nav-email:hover,
.nav-phone:hover,
.nav-email:focus,
.nav-phone:focus {
  color: var(--clr-blue);
  fill: var(--clr-blue);
  transition: 375ms;
}

/*--------------------*/
/*-------INDEX--------*/
/*--------------------*/

.header-mainpage {
  color: var(--clr-background);
  font-weight: var(--fw-blck);
  text-align: center;
  letter-spacing: 2.64px;

  background-image: url('../images/header-img.jpg');
}
.overlay-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  background-color: #2f303a66;
}
.overlay-header > h1 {
  margin-top: 12.5rem;

  display: inline-block;
  width: 40rem;

  font-size: 44px;
  line-height: 3.75rem;
  text-align: center;
}

.call-to-action {
  padding: 10px 41px 10px 42px;
  margin-bottom: 12.5rem;

  color: var(--clr-background);
  font-family: var(--ff-main);
  font-weight: var(--fw-bld);
  font-size: 16px;
  line-height: 2.143rem;

  background-color: var(--clr-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*--------------------*/

.feature {
  margin-block: 5.875rem;
}
.feature > ul {
  display: flex;
  justify-content: center;
  column-gap: 2.143rem;

  list-style: none;
}
.feature-img {
  margin-bottom: 2.143rem;

  background-color: var(--clr-background-darker);

  border-radius: 4px;
}

.feature-img > svg {
  margin: 1.786rem 6.25rem;
  width: 4.375rem;
  height: 4.375rem;
}
.feature-text {
  width: 16.875rem;
}
.feature-text > h3 {
  font-size: 14px;
  font-weight: var(--fw-bld);
}
.feature-text > p {
  color: var(--clr-font-lght);
  line-height: 1.5rem;
  letter-spacing: 0.42px;
}

/*--------------------*/

.what-do-we-do {
  margin-bottom: 5.25em;
  text-align: center;
}

.what-do-we-do > h2 {
  margin-bottom: 3.125rem;

  font-size: 36px;
  font-weight: var(--fw-bld);
}
.what-do-we-do-photos > ul {
  gap: 2.143rem;
  list-style: none;
}

/*--------------------*/

.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  background-color: var(--clr-background-darker);
}
.our-team * {
  padding: 0;
}
.our-team > h2 {
  margin-block: 5.875rem 3.125rem;
  font-size: 36px;
  font-weight: var(--fw-bld);
}

.team-members > ul {
  column-gap: 2.143rem;

  list-style: none;
}
.team-member {
  margin-bottom: 5.875rem;

  background-color: var(--clr-background);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team-member > h3 {
  font-size: 16px;
  font-weight: var(--fw-med);
}
.team-member > p {
  padding-bottom: 1rem;

  color: var(--clr-font-lght);
  font-size: 16px;
}
.team-member > ul {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  list-style: none;
}
.team-member > ul > li {
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 2.143rem;

  border-radius: 50%;

  cursor: pointer;
  transition: 1075ms;
}
.team-member > ul > li:hover,
.team-member > ul > li:focus {
  background-color: var(--clr-blue);
  fill: var(--clr-background);
  transition: 575ms;
}

/*--------------------*/

.clients {
  gap: 2.143rem;

  list-style: none;
}
.our-clients > h2 {
  margin-top: 5.875rem;

  text-align: center;
  font-size: 36px;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  font-weight: var(--fw-bld);
}
.client {
  margin-bottom: 5.875rem;

  width: 10.625rem;
  height: 5.75rem;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--clr-gray-element);

  cursor: pointer;
  transition: 1075ms;
}
.client:hover,
.client:focus {
  border-color: var(--clr-blue);
  fill: var(--clr-blue);

  transform: scale(1.1);
  transition: 575ms;
}

/*--------------------*/
/*------Footer--------*/
/*--------------------*/

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4.375rem;
  align-items: flex-start;

  color: var(--clr-background);

  background-color: var(--clr-dark);
}
.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-footer > * {
  margin-left: 215px;
}
.contact-footer > .logo {
  margin-block: 3.75rem 1.25rem;

  user-select: none;
}
.footer-adress {
  margin-bottom: 0.563rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
}
.footer-mail {
  margin-bottom: 0.563rem;

  color: var(--clr-background);
  line-height: 1.5rem;
  letter-spacing: 0.72px;
  text-decoration: none;

  transition: 275ms;
  opacity: 0.6;
}
.footer-phone {
  margin-bottom: 3.75rem;

  color: var(--clr-background);
  line-height: 1.5rem;
  letter-spacing: 0.72px;
  text-decoration: none;

  transition: 275ms;
  opacity: 0.6;
}
.footer-mail:hover,
.footer-phone:hover,
.footer-mail:focus,
.footer-phone:focus {
  color: var(--clr-blue);

  opacity: 1;
  transition: 275ms;
}

.join-us {
  max-width: 206px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.43rem;
  align-self: center;
  justify-content: space-between;

  text-align: left;
}
.join-us > * {
  margin: 0;
  padding: 0;
}
.join-us > h3 {
  width: 206px;

  font-weight: var(--fw-bld);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  list-style: none;
}
.footer-social > li {
  width: 2.75rem;
  height: 2.75rem;

  background-color: #ffffff1a;
  border-radius: 50%;
  fill: var(--clr-background);

  cursor: pointer;
  transition: 1075ms;
}

.footer-social > li:hover,
.footer-social > li:focus {
  background-color: var(--clr-blue);
  opacity: 1;
  fill: var(--clr-background);
  transition: 575ms;
}

/*----------------------*/
/*----------------------*/
/*----- PORTFOLIO ------*/
/*----------------------*/
/*----------------------*/

.portfolio {
  margin: 5.875rem 13.438rem;

  flex-direction: column;
  align-self: center;
  justify-self: center;
}

/*----------------------*/

.filters {
  display: inline-flex;

  list-style: none;
}

.filter > button {
  padding: 0.375rem 1.375rem;
  margin-right: 0.5rem;

  color: var(--clr-font);
  font-family: var(--ff-main);
  font-weight: var(--fw-med);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.625rem;

  border-radius: 4px;
  border: none;
  background-color: var(--clr-background-darker);

  cursor: pointer;
  user-select: none;
  transition: 575ms;
}
.filter > button:hover,
.filter > button:focus {
  color: var(--clr-background);

  background-color: var(--clr-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: 275ms;
}

/*----------------------*/

.projects {
  margin-top: 2.125rem;
}
.projects > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.143rem;

  list-style: none;
}
.project {
  box-sizing: border-box;

  border: 1px solid #eeeeee;

  transition: 0.5s;
  cursor: pointer;
}
.project > img {
  user-select: none;
}
.project > h3 {
  margin: 1.25rem 1.5rem 0.25rem 1.5rem;

  font-weight: var(--fw-bld);
  font-size: 18px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
}
.project > p {
  margin: 0 1.5rem 1.25rem 1.5rem;

  color: var(--clr-font-lght);
  font-weight: 400;
  font-size: 16px;
  line-height: 2.143rem;
  letter-spacing: 0.03em;
}
.project:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: 0.5s;
}
